// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'icomoon';

$blue: #007bff;
$blue-light: #007bffa0;
$black: #000;
$white: #fff;
$red: #f00;
$green: #7cfc00;

@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/AvenirNextLTPro-Regular.otf');
	font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Avenir Next';
	margin-bottom: 100px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
    z-index: 10;
}

.title {
	font-size: 4rem;
	font-weight: bold;
	transform: scale(1.5, 1);
}

.eye {
    width: 100%;
    object-fit: contain;
}

.char-wrapper > div {
	display: flex;
	justify-content: center;
    height: 4em;
}

.btn {
	background-color: #DADADA;
	color: $black;
    border-color: $black;
}

.btn-primary {
    color: $white;
    background-color: $blue;
    border-color: $blue;
}

.btn-phantom {
    background-color: $blue-light;
    color: $black;
}

%big-button {
	height: 400px;
    width: 45%;
    margin-left: 32px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    font-size: 64px;

    span {
    	font-size: 64px;
    }
}

.btn-next {
	@extend %big-button;
}

.btn-audio {
    width: 64px;
    height: 64px;
}

.btn-audio-long {
    width: 128px;
    height: 64px;
}

.btn-answer {
	background-color: $red; /* red */
	color: $white;

    @extend %big-button;
}

.btn-answer:hover {
	opacity: 0.7;
}

.btn-answer:first-child {
	background-color: $green; /* green */
	color: $black;
	margin-left: 0;
}

.btn-answer:first-child:hover {
	color: $white;
}

.btn-confirm {
	height: 200px;
	width: 400px;
	font-size: 42px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-top: 48px;
}

.answers-wrapper {
	display: flex;
    padding: 0 32px;
    margin-top: 48px;
}

.players-wrapper {
	display: flex;
    flex-wrap: wrap;

	.player {
	    flex: 1 0 220px;
	}

	.current-player {
		font-weight: bold;
        text-decoration: underline;
	}
}

.video-wrapper {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

    .placeholder-eye {
        filter: invert(1);
    }

    .placeholder-photo {
        height: 100%;
    }
}

#cycler {
    position: relative;

    img {
        position: absolute;
        z-index: 1;
        object-fit: contain;
    }

    img.active {
        z-index: 3;
    }
}

.swap-section {
    .swap-wrapper {
        .swap-notes-wrapper {
            max-height: 90px;
            overflow: hidden;
        }
    }
}

.value-wrapper {
    max-height: 50vh;
    overflow-y: auto;

    span.player-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.home {
    width: 100px;
    height: auto;
}

.value {
	display: flex;
	width: 100%;
	align-items: center;

	.value-result {
		margin-left: auto;
	}

	.value-text {
		display: inline-flex;
		width: 166px;
        height: 50px;
		align-items: center;
		font-weight: bold;
        border: 1px solid #000;
        margin-left: 10px;
        padding-left: 26px;
	}

	.value-arrow {
        /*margin: 0 10px;*/
        font-size: 1.5em;
        margin-left: auto;
	}
}

.navbar .navbar-nav .nav-link.router-link-active {
    color: #fff;
}

.photo-wrapper {
    height: 256px;
    display: inline-block;
    vertical-align: top;
}

.welcome-icon {
	height: 32px;
	margin: 3px 0;
}

.players-col {
    max-width: 350px;
}

@media (max-width: 1470px) {
	.title {
		font-size: 1.9rem;
    	transform: scale(1.2, 1);
	}

    .char-wrapper > div {
        display: flex;
        justify-content: center;
        height: 4em;
    }
}

@include media-breakpoint-down(xs) {
    .navbar-expand .navbar-nav {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .archive {
        margin-bottom: 24px;
    }

    body {
        margin-bottom: 0;
    }

    footer {
        position: relative;
    }
}

@include media-breakpoint-up(md) {
    .players-col {
        max-width: 220px;
    }

    .value {
        .value-arrow {
            /*margin: 0 72px;*/
        }

        /*.value-text {
            height: 90px;
            font-size: 1.5em;
        }*/
    }
}

@include media-breakpoint-up(lg) {
	.navbar-brand {
		margin-right: 1.6rem;
	}

	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0.8rem;
	    padding-left: 0.8rem;
	}
}

.game {
	font-size: 22px;
}

.archive {
	font-size: 18px;
}
