@font-face {
	 font-family: 'icomoon';
	 src:  url('/fonts/icomoon.eot?jr4mnj');
	 src:  url('/fonts/icomoon.eot?jr4mnj#iefix') format('embedded-opentype'),
	 	url('/fonts/icomoon.woff2?jr4mnj') format('woff2'),
	 	url('/fonts/icomoon.ttf?jr4mnj') format('truetype'),
	    url('/fonts/icomoon.woff?jr4mnj') format('woff'),
	    url('/fonts/icomoon.svg?jr4mnj#icomoon') format('svg');
	 font-weight: normal;
	 font-style: normal;
	 font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	 /* use !important to prevent issues with browser extensions that change fonts */
	 font-family: 'icomoon' !important;
	 speak: never;
	 font-style: normal;
	 font-weight: normal;
	 font-variant: normal;
	 text-transform: none;
	 line-height: 1;
	
	 /* Better Font Rendering =========== */
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	 content: "\e900";
	 vertical-align: middle;
}
