<template>
	<div>
		<h3 v-if="currentSwap.player">{{ currentSwap.player.name }} valt aan:</h3>
		<h4 v-if="currentSwap.oldValue">{{ currentSwap.oldValue.name }} -> {{ currentSwap.newValue.name }}</h4>	
		<h3 v-if="isApproved">SUCCES!</h3>
		<h3 v-else-if="isDenied">AFGEWEZEN!</h3>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				currentSwap: {}
			};
		},
		
		computed: {			
			isApproved() {
				return this.currentSwap && this.currentSwap.is_approved === true;
			},
			
			isDenied() {
				return this.currentSwap && this.currentSwap.is_approved === false;
			},
			
			currentSwap() {
				return JSON.parse(window.localStorage.getItem('ring'));
			}
		},
		
		created() {
			window.onstorage = () => {
				console.log("Something's happening!");
				this.currentSwap = JSON.parse(window.localStorage.getItem('ring'));
			};
		}
	}
</script>
	