<template>
	<div>
		<h2>De top 8:</h2>
		<ol>
			<li v-for="value in getTopEight">{{ value.name }}</li>
		</ol>
		<button class="btn btn-confirm" @click="confirm">Nieuwe Meting</button>
	</div>
</template>

<script>
	import {mapGetters, mapMutations} from 'vuex';

	export default {
		computed: {
			...mapGetters(['getTopEight'])
		},

		data() {
			return {
				applied: false
			};
		},

		mounted() {
			this.$emit('fade-to-music', 'BaanWordtVeranderd', null, 0.7);
			this.apply();
		},

		methods: {
			...mapMutations(['applySwap']),

			apply() {
				this.applySwap();
				this.applied = true;
			},

			confirm() {
				this.$router.push('revised-results');
			}
		}
	}
</script>
