<template>
	<div>
		<div class="row">
			<div class="col-sm-6">
				<form @submit.prevent="onPlayerSubmit" @keydown="playerForm.errors.clear($event.target.name)">
					<h3>Spelers</h3>
					<div class="w-100">
						<player-list :players="players"></player-list>
					</div>
					<div class="w-100">
						<input name="player_name" v-model="playerForm.name" placeholder="Naam" required>
						<button class="btn" :disabled="playerForm.errors.any()">Toevoegen</button>
					</div>
					<small class="text-danger" role="alert" v-if="playerForm.errors.has('name')" v-text="playerForm.errors.get('name')"></small>
				</form>
			</div>
			<div class="col-sm-6">
				<form @submit.prevent="onJudgeSubmit" @keydown="judgeForm.errors.clear($event.target.name)">
					<h3>Juryleden</h3>
					<div class="w-100">
						<player-list :players="judges"></player-list>
					</div>
					<div class="w-100">
						<input name="judge_name" v-model="judgeForm.name" placeholder="Naam" required>
						<button class="btn" :disabled="judgeForm.errors.any()">Toevoegen</button>
					</div>
					<small class="text-danger" role="alert" v-if="judgeForm.errors.has('name')" v-text="judgeForm.errors.get('name')"></small>
				</form>
			</div>
		</div>
		<div class="confirmation-wrapper">
			<button @click="climax" class="btn btn-primary btn-confirm">Beginnen!</button>
		</div>
	</div>
</template>

<script>
	import PlayerList from '../components/PlayerList.vue';
	import Player from '../classes/Player';
	import {mapState} from 'vuex';

	export default {
		data() {
			return {
				playerForm: new Form({
					'name': '',
					'session_id': this.$store.state.session_id
				}),

				judgeForm: new Form({
					'name': '',
					'session_id': this.$store.state.session_id
				}),
			};
		},
		computed: mapState(['players', 'judges']),
		components: {
			PlayerList
		},
		methods: {
			onPlayerSubmit() {
				let newPlayer = new Player(this.playerForm.save());
				this.$store.commit('addPlayer', newPlayer);
			},

			onJudgeSubmit() {
				let newJudge = this.judgeForm.save();
				this.$store.commit('addJudge', newJudge);
			},

			climax() {
				this.$emit('fade-to-music', 'Climaxknop-Welkomgedicht', null, 0.6);
				this.$router.push('Welcome');
			},
		}
	}
</script>
