<template>
	<div>
		<form v-if="players.length > 0" @submit.prevent="onSwapSubmit" @keydown="swapForm.errors.clear($event.target.name)">

			<h2>Speler noemt wissel</h2>

			<div class="row border-top">
				<div class="col-sm-4">
					<label for="playerIndex" class="d-block">Speler</label>
					<select v-model="swapForm.playerIndex" name="playerIndex" id="playerIndex" required>
						<option v-for="(player, index) in players" v-text="player.name" :value="index"></option>
					</select>
				</div>
				<div class="col-sm-4">
					<label for="playerIndex" class="d-block">Oude waarde</label>
					<select v-model="swapForm.oldValueIndex" name="oldValueIndex" required>
						<option v-for="(value, index) in getTopEight" v-text="(index + 1) + '. ' + value.name" :value="index"></option>
					</select>
				</div>
				<div class="col-sm-4">
					<label for="playerIndex" class="d-block">Nieuwe waarde</label>
					<select v-model="swapForm.newValueIndex"name="newValueIndex" required>
						<option v-for="(value, index) in newValueOptions" v-text="value.name" :value="index"></option>
					</select>
				</div>
			</div>

			<div class="row mt-2">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary btn-confirm" :disabled="swapForm.errors.any()">Start gesprek</button>
				</div>
			</div>
		</form>
		<div v-else>
			<h3>Geen spelers</h3>
			<p>Voeg eerst spelers toe.</p>
		</div>
	</div>
</template>

<script>
	import {mapState, mapGetters} from 'vuex';

	export default {
		data() {
			return {
				swapForm: new Form({
					'playerIndex': 0,
					'oldValueIndex': -1,
					'newValueIndex': -1,
					'session_id': this.$store.state.session_id
				}),
			};
		},

		methods: {
			onSwapSubmit() {
				let playerData = this.players[this.swapForm.playerIndex];
				let swapData = {
					oldValue: this.getTopEight[this.swapForm.oldValueIndex],
					newValue: this.newValueOptions[this.swapForm.newValueIndex],
					player: {
						index: this.swapForm.playerIndex,
						name: playerData.name
					},
					is_approved: undefined,
					is_applied: false
				};
				this.swapForm.save();

				this.$store.commit('addSwap', swapData);

				this.$router.push('finish-swap');
			},
		},

		computed: {
			...mapState(['players','judges','values']),
			...mapGetters(['getTopEight', 'newValueOptions'])
		},

		mounted() {
			this.$emit('fade-to-music', 'Draakstop-Bovenkamer', 20);
		},
	}
</script>
