<template>
	<div>
		<h2>Epiloog</h2>
		<div class="narration">
			<div>
				<div v-if="!done">
					<p>Nu ik zonder kracht ben<br>
					Kijk ik naar mezelf<br>
					Gewichtloos ben ik geworden<br>
					Een spelend kind</p>

					<p>I imagine if I could stroop my skin af<br>
					if I my huid could netjes hang<br>
					on a haakje in the kast. <br>
					I&rsquo;d fold my soul zodat zij naast mijn hoop<br>
					tussen de mothballs in my linnenlade past.</p><br>

					<p>ik stel mij voor how I keukenrol en oude kranten<br>
					careful tussen losse ledematen prop<br>
					together with my toes, my heart,<br>
					how I my lever in a pot sterk water stop</p>

					<p>imagine with me dat we onze huid afstropen<br>
					that we hang our skin<br>
					aan een haakje in de kast<br>
					fold your soul with mine<br>
					zodat het naast de hoop<br>
					tussen de mothballs<br>
					in onze linnenlade past</p>

					<p>and let the costumes that have shaped us wait<br>
					op een acteur met een greintje meer talent<br>
					to portray ons for an eager audience<br>
					die ons kan spelen, zoals wij werkelijk zijn<br>
					die ons kan spelen, zoals wij zullen zijn.</p>
				</div>

				<i v-if="!done && saving">Nu aan het opslaan. Momentje...</i>
				<i v-if="done">De sessie is succesvol opgeslagen. Je kunt nu afsluiten. Of...</i>
				<div v-if="!saving">
                    <button @click="save" class="btn btn-primary btn-confirm">
                        <span v-if="!error">Brand New Body</span>
                        <span v-else>Opslaan opnieuw proberen</span>
                    </button>
				</div>
                <div class="text-danger" v-if="error">
                    Opslaan mislukt. Probeer de volgende stappen tot een van hen werkt:
					
					<ol>
						<li>Probeer het nog een keer.</li>
						<li>Klik <a target="_blank" :href="'mailto:joris@albeda.net' +
							'?subject=HELP met opslaan!' +
							'&body=' + encodeURIComponent( JSON.stringify(this.saveData) )">HIER</a>
							om de data naar Joris te mailen, dan zorgt hij dat het goedkomt.</li>
						<li> Klik <a :download="'Save data session ' + this.session_id + '.txt'" 
								:href="'data:text/json;charset=utf-8,' + encodeURIComponent( JSON.stringify(this.saveData) )">
								HIER
							</a> om de data te downloaden, dan kun je hem later naar Joris sturen.</li>
						<li>Mocht zelfs dat misgaan, kopiëer dan zelf de volgende tekst naar een nieuwe mail of naar notepad om later te mailen:</li>
					</ol>
					
                    <textarea rows="5" class="w-100">{{ JSON.stringify(this.saveData) }}</textarea>
					
                </div>

                <div v-if="done || error">
                    Je kunt een nieuw spel beginnen met de muziek al geladen met deze knop:<br>
                    <button class="btn btn-primary btn-confirm" @click="newGame">Nieuw Spel</button>
                </div>
			</div>
		</div>
	</div>
</template>

<script>
	import {mapState, mapMutations} from 'vuex';

	export default {
		data() {
			return {
				saving: false,
				done: false,
                error: false,
				page: 0,
                saveData: {}
			};
		},

		methods: {
			nextPage() {
				this.page++;
				window.scrollTo(0,0);
			},

			save() {
				this.$emit('fade-to-music', 'BrandNewBody');

				this.saving = true;
				axios.post(
				    "/admin/game/sessions/" + this.session_id,
                    this.saveData,
                    { timeout: 60000 }
                ).then(response => {
					this.done = true;
					this.error = false;
				}).catch(error => {
				    this.error = true;
				    this.saving = false;
                });
			},

            newGame() {
			    this.$emit('fade-to-music', '');

			    axios.get(
			        "/admin/game/sessions/restart"
                ).then(response => {
                    this.reset(response.data.session_id);
                }).catch(error => {
                    this.reset(-1);
                });
            },

            reset(newSessionId = -1) {
                this.resetGame(newSessionId);
                this.$router.push('/');
            },

            ...mapMutations(['resetGame'])
		},

		mounted() {
			this.$emit('fade-to-music', 'Eindtune-eindklank-Epiloogstart', null, 0.7);

			this.saveData = {
                players: this.players,
                judges: this.judges,
                swaps: this.swaps
            };
		},

		computed: mapState(['session_id', 'players', 'judges', 'swaps']),
	}
</script>
