<template>
	<div>
		<h4>{{ currentSwap.player.name }} valt aan:
			<b>{{ currentSwap.oldValue.position }}. {{ currentSwap.oldValue.name }}</b> eruit,
			<b>{{ currentSwap.newValue.name }}</b> erin
		</h4>
		<div class="form-group">
		<label for="notes">Aantekeningen</label>
   			<textarea v-model="currentSwap.notes" class="form-control" rows="4" name="notes" id="notes" placeholder="Belangrijkste argument(en)"></textarea>
		</div>
		<div v-if="page==0">
            <h2>Pleidooi Speler</h2>

            <timer countdownMinutes="4"></timer>

            <button @click="nextPage" class="btn btn-primary btn-confirm">Speler is klaar</button>
        </div>
		<div v-if="page==1">
            <h2>Jury naar buiten</h2>

            <button @click="nextPage" class="btn btn-primary btn-confirm">Jury is de deur uit</button>
		</div>
		<div v-if="page==2">
            <h2>Jury is in overleg</h2>
            <timer countdown-minutes="2"></timer>

            <button @click="nextPage" class="btn btn-primary btn-confirm">Jury komt terug</button>
		</div>
		<div v-if="page==3">
            <h2>Jury geeft uitslag</h2>

			<button @click="denyLatestSwap">Afgewezen</button>
			<button @click="approveLatestSwap">Succes</button>

            <h3 v-if="isApproved">SUCCES!</h3>
            <h3 v-else-if="isDenied">AFGEWEZEN!</h3>

			<button @click="confirm" v-if="isApproved || isDenied" class="btn btn-primary btn-confirm">Bevestigen</button>
		</div>
	</div>
</template>

<script>
	import {mapState, mapMutations, mapGetters} from 'vuex';
    import Timer from '../components/Timer';

	export default {
		data() {
			return {
				page: 0
			};
		},

		computed: {
			...mapState(['swaps']),
			...mapGetters(['getLatestSwap', 'getWelcomePlayers']),

			currentSwap() {
				/* For now, always use the latest swap. */
				return this.swaps[this.swaps.length - 1];
			},

			isApproved() {
				return this.getLatestSwap.is_approved === true;
			},

			isDenied() {
				return this.getLatestSwap.is_approved === false;
			},
		},

		methods: {
			...mapMutations(['approveLatestSwap', 'denyLatestSwap']),

			confirm() {
				if(this.isApproved) {
					this.$router.push('apply-swap');
				} else if(this.isDenied) {
					this.$router.push('swap-done');
				}
			},

			nextPage() {
				this.page++;
				if(this.page == 1) {
				    //if(this.getWelcomePlayers.length == 0) {
				        this.nextPage();
                    //}
                } else if(this.page == 2) {
					this.$emit('fade-to-music', 'Wachtmuziek');
				} else if(this.page == 3) {
					this.$emit('fade-to-music');
				}
                window.scrollTo(0,0);
			},
		},

        components: {
            Timer
        },
	}
</script>
