<template>
	<div>
		<h1>The Extincticator</h1>
		<div v-if="musicCount > 0">
			<div v-if="loadedMusicCount < musicCount">
				<p>Muziek aan het laden:</p>
				<span>{{ loadedMusicCount }} / {{ musicCount }}</span>
			</div>
			<div v-else>
				<p>Muziek geladen!</p>
			</div>
		</div>
		<div class="confirmation-wrapper">
			<button @click="start" class="btn btn-primary btn-confirm">Start inloop</button>
		</div>
	</div>
</template>

<script>
	import { mapState } from 'vuex'

	export default {
		methods: {
			start() {
				this.$emit('fade-to-music', 'Inloop');
				this.$router.push('create-players');
			}
		},

		computed: {
			...mapState(['loadedMusicCount', 'musicCount'])
		}
	}
</script>
