<template>
	<div>
		<value-results
            @finished='nextPage'
            @fade-to-music="fadeToMusic">
		</value-results>
	</div>
</template>

<script>
	import ValueResults from '../components/ValueResults.vue';

	export default {
		mounted() {
			this.fadeToMusic('Printmuziek');
		},

		methods: {
			nextPage() {
				this.$router.push('swap-scene');
			},

			fadeToMusic(musicName, fadeSpeed, newVolume) {
                this.$emit('fade-to-music', musicName, fadeSpeed, newVolume);
            }
		},

		components: {
			ValueResults,
		}
	}
</script>
