<template>
	<div>
		<div v-if="currentPlayer">
			<div v-if="isQuestion && !isPhantomQuestion">
				<h2>{{ questionIndex + 1 }}. {{ currentQuestion.body }}</h2>

				<div class="players-wrapper">
					<span v-for="(player, index) in players" class="player" :class="{'current-player': index == playerIndex}">
						{{ (index + 1) + ". " + player.name }}
					</span>
				</div>

				<div class="answers-wrapper">
					<a class="btn btn-answer" href="#" @click="selectAnswer(answer)" v-for="answer in currentQuestion.answers">
						<span>{{ answer.body }}</span>
					</a>
				</div>

			</div>

			<div v-else>
				<h2 v-if="isQuestion">{{ questionIndex + 1 }}. Fantoomvraag</h2>
				<h2 v-else>{{ questionIndex + 1 }}. Tekst</h2>
				<p>
					{{ currentQuestion.body }}
				</p>

				<div>
					<button @click="nextQuestion" :class="{'btn-phantom': isPhantomQuestion}" class="btn btn-primary btn-next">Volgende</button>
				</div>
			</div>
		</div>
		<div v-else>
			<h3>Geen spelers</h3>
			<p>Voeg eerst spelers toe.</p>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue';
	import {mapState} from 'vuex';

	export default {
		data() {
			return {
				playerIndex: 0,
				questionIndex: 0,
                currentMusic: "Siegfried"
			}
		},

		mounted() {
			this.$emit("fade-to-music", "Siegfried", 2000);
		},

		methods: {
			nextQuestion() {

                if(!this.isPhantomQuestion) { //No sound for phantom questions
				    this.$emit("play-sound", "KnopLaatste");
                }
				this.playerIndex = 0;
				this.questionIndex++; //Next question.

                let newMusic;
                if(this.currentQuestion && this.isQuestion) {
                    newMusic = "Hartslag";
                } else {
                    newMusic = "Siegfried";
                }

                if(this.currentMusic != newMusic) {
                    this.$emit("fade-to-music", newMusic, 100);
                    this.currentMusic = newMusic;
                }
			},

			next() {
				if(this.playerIndex + 1 < this.players.length) { //More players?
					this.playerIndex++; //Next player.
				} else {
					if(this.questionIndex + 1 < this.questions.length) { //More questions?
						this.nextQuestion();
					} else {
						this.$emit("fade-to-music", "Hartslag-eindslag")
						this.$router.push('results-scene');
					}
				}
			},

			selectAnswer(answer) {
			    //TODO: if we ever get more money to improve the system, cure this case of the hardcodings.
				if(answer.body == "Ja" || answer.body == "Yes") {
					this.$emit("play-sound", "KnopJa");
				} else if(answer.body == "Nee" || answer.body =="No") {
					this.$emit("play-sound", "KnopNee");
				}

				this.currentPlayer.selectAnswer(answer);
				this.next();
			},

			selectPlayer(index) {
				this.playerIndex = index;
			}
		},

		computed: {
			...mapState(['players', 'questions']),

			currentPlayer() { return this.players[this.playerIndex]; },

			currentQuestion() { return this.questions[this.questionIndex]; },

			isQuestion() {
				return this.currentQuestion.is_question == 1;
			},

			isPhantomQuestion() {
                let valuedAnswers = this.currentQuestion.answers.filter(answer => answer.values.length > 0); 
				//return this.currentQuestion.answers.length > 0;
                return this.isQuestion && valuedAnswers.length == 0;
			},
		}
	}
</script>
