<template>
	<div>
		<div class="narration">
            <h2>De Uitslag</h2>

			<p>Alle vlaggen blijven vanaf nu naar beneden.<br>
			U heeft uw keuzes gemaakt.<br>
			Al uw antwoorden zijn ingevoerd en verwerkt.<br>
			Met mijn volgende druk op de knop vraag ik om het oordeel van <br>
			The Extinticator.... <br><br>

			Wiens oog valt in de boot?<br>
			Wiens oog valt er in het water?<br>
			Wie gaat er er mee?<br>
			Wie blijft erachter?<br>
			Welcome? Or not welcome?<br>

			Alleen de spelers die op alle 8 de waarden van de ring &lsquo;positief&rsquo; scoren, mogen mee!</p>

			<p>OH, EXTINTICATOR: WHO&rsquo;S IN? WHO&rsquo;S OUT ? YOU DECIDE !</p>
		</div>
		<div class="confirmation-wrapper">
			<router-link to="is-welcome" class="btn btn-primary btn-confirm"><i class="fa fa-print"></i>  Printen</router-link>
		</div>
	</div>
</template>

<script>
	export default {
		methods: {
			play(musicName) {
				this.$emit("fade-to-music", musicName);
			},

			pause() {
				this.$emit("pause-music");
			}
		},

		mounted() {

		},
	}
</script>
