<template>
	<div>
        <value-results
            @finished='nextPage'
            @fade-to-music="fadeToMusic">
        </value-results>
	</div>
</template>

<script>
	import ValueResults from '../components/ValueResults.vue';

	export default {
		methods: {
			nextPage() {
                this.$emit('fade-to-music', 'KnikkermuziekStop', 10);
				this.$router.push('swap-done');
			},

            fadeToMusic(musicName, fadeSpeed, newVolume) {
                this.$emit('fade-to-music', musicName, fadeSpeed, newVolume);
            }
		},

		mounted() {
			this.fadeToMusic('Printmuziek');
		},

		components: {
			ValueResults
		}
	}
</script>
