<template>
	<div>
		<div class="narration">
			<div v-if="page==0">
                <h2>Uitleg wissels</h2>

				<p>(Bonnen uitdelen)</p><br>

				<div v-if="getWelcomePlayers().length > 0">
					<span v-for="player in getWelcomePlayers()">{{ player.name }}, </span><span> gefeliciteerd !<br></span>
					<span v-if="getWelcomePlayers().length > 1">Jullie hebben</span>
					<span v-else>Jij hebt</span>
					<span> toegang tot de boot verdiend. (Slaat met grote hamer op een blok)</span>

					<p>(Drukt op het belletje)</p>

					<p>Jij bent veilig.<br>
					Althans...Voorlopig.<br></p>
				</div>
				<div v-else>
					<p>Helaas. Niemand is nog welcome op de Golden Wallhalla-ocean-Princess II. NOG niet....</p>
				</div>

				<p>Want, beste mensen, nog niet alles is verloren....</p>

				<p>(Deelt de bonnetjes uit)</p><br>

				<p>U krijgt nu allemaal de kans om de top 8 van de Ring aan te vallen en te veranderen.<br>
				Welk van de 8 eigenschappen zou er volgens u plaats moeten maken voor 1 van de andere eigenschappen uit de koffer? En waarom?<br>
				Als het u lukt om de burgerjury te overtuigen dat een andere top 8 betere helden voor de Rotterdamse toekomst oplevert , veranderen we de top 8 en doet de Extinticator een nieuwe meting.<br>
				Misschien bent u dan wel aan boord!</p>

				<p>Hoe werkt het?<br>
				Als de hoorn schalt, start de tijd waarin u (samen of in een groepje) kiest welke eigenschap u er IN wilt spelen en welke er daarvoor UIT moet. <br>
				Bedenk (of bespreek) ook hoe u de burgerjury gaat overtuigen.</p>

				<p>(Naam) hoeft niet te kiezen. Hij wordt de woudvogel in deze ronde.<br>
				Als de hoorn voor de tweede maal schalt, komt u allen weer zitten op uw plek.</p>

				<br>

				<p>Voor het maken van uw keuze kunt u ervoor kiezen om uw persoonlijke score te zien.<br>
				Dit zou uw spelstrategie kunnen bepalen.<br>
				U kunt er ook voor kiezen om blind te spelen. En in deze ronde uw hart te volgen.</p>

				<p>(Blaast op zijn hoorn)<br></p>
			</div>
			<div v-if="page==1">
                <h2>Spelers kiezen waarden</h2>

				<p>(De 3 minuten gaan in. De spelers lopen naar de tafel.<br>
				In de tussentijd legt Wotan uit aan (naam) dat hij/zij de woudvogel krijgt. Dit betekent dat hij/zij raadgever is van de jury.<br>
				Tijdens het gesprek praat hij/zij niet mee. Aan het eind krijgt hij/zij een minuut spreektijd waarin hij/zij een pleidooi geeft voor/tegen de verandering van de baan.<br>
				De burgerjury is voor het spel al ge&iuml;nstrueerd)</p>

				<p>(Als de drie minuten voorbij zijn: Wotan blaast op zijn hoorn)</p><br><br>

				<timer countdownMinutes="3" @timerFinished="play('WachtmuziekStop-Draak', 1000)"></timer><br><br>

				<p>Welkom terug aan tafel. U heeft nu allemaal een bordje gekozen met daarop een eigenschap waarmee u de top 8 wilt aanvallen. Elke speler krijgt zo 10 min de tijd om te spelen. <br>
				De overige spelers kunnen meespelen met de speciale zilveren en gouden kaart:<br><br>
				Als u de ZILVEREN kaart naar voren schuift, wilt u zich mengen in het gesprek dmv het stellen van een VRAAG.<br>
				Als u de GOUDEN kaart naar voren schuift, wilt u zich mengen in het gesprek dmv het delen van een VERHAAL of PERSOONLIJKE ERVARING.<br>
				U mag pas spreken als u de beurt krijgt van mij.</p>

				<p>(Op de helft van de spelbeurt wordt de ZILVEREN kaart omgedraaid en mag er alleen nog maar gespeeld worden met de GOUDEN kaart. Er wordt nu ook in de bron van wijsheid gegrabbeld. (Een bak bol ogen) . Op de ogen staan quotes van Wotan. (Zoals in Chinese koekjes) Dmv een quote van Wotan kunnen we het gesprek be&iuml;nvloeden.)</p><br>

				<p>Na 10 minuten stopt uw spelbeurt en luisteren we naar het slotpleidooi van de raadgever die we herkennen aan de woudvogel.<br>
				Daarna gaat de burgerjury in beraad.<br>
				Als de meerderheid &lsquo;voor&rsquo; stemt, wint de speler en wordt de top 8 verandert. <br>
				De Extinticator doet dan een nieuwe meting.<br>
				En wie weet, zit U dan WEL op t schip. En U niet meer......</p>

				<div class="confirmation-wrapper">
					<router-link to="create-swap" class="btn btn-primary btn-confirm">Invoeren Wissel</router-link>
				</div>
			</div>
		</div>
		<div v-if="page < 1">
			<button class="btn btn-primary btn-confirm" @click="nextPage">Verder</button>
		</div>
	</div>
</template>

<script>
	import Timer from '../components/Timer';
	import { mapGetters } from 'vuex';


	export default {
		data() {
			return {
				page: 0,
			};
		},

		methods: {
			play(musicName, speed) {
				this.$emit("fade-to-music", musicName, speed);
			},

			pause() {
				this.$emit("pause-music");
			},

			nextPage() {
				this.page++;
				if(this.page == 1) {
					this.$emit('fade-to-music', 'Wachtmuziek');
				}
                window.scrollTo(0,0);
			},

			...mapGetters(['getWelcomePlayers'])
		},

		mounted() {
            this.$emit('fade-to-music', 'KnikkermuziekStop', 10);
		},

        components: {
            Timer
        },
	}
</script>
