<template>
	<div>
		<h2>Wissel voltooid</h2>
		<p>Klaar?</p>
		<div v-if="ended">
            <router-link to="epilogue" class="btn btn-confirm">Epiloog</router-link>
		</div>
        <div v-else>
            <router-link to="create-swap" class="btn"><i class="fa fa-plus"></i> Nog een speler</router-link>
            <button @click="endSwaps" class="btn">Einde gesprekken</button>
        </div>
	</div>
</template>
<script>
    export default {
        data() {
            return {
                ended: false
            };
        },

        methods: {
            endSwaps() {
                this.ended = true;
                this.$emit('fade-to-music', 'EindtuneGespreksronde');
            }
        }
    }
</script>
