<template>
	<div>
		<div class="narration">
			<div v-if="page==0">
				<p>Zo...<br>
				Zoals u weet beginnen we het Godenspel altijd met de volgende woorden:</p>

				<p>Wotan:</p>

				<p>Wij had gehad nooit beter nee<br>
				in these most awful of the days<br>
				de werelds wisdom in our hands<br>
				what we dislike is z&oacute; ontkend</p>

				<p>de nacht was lit up like the day<br>
				newspapers were bloedbestained</p>

				<p>and seasons changed<br>
				winters trilden van de hitte<br>
				summertime was nat of brand</p>

				<p>the future lag ahead van ons<br>
				die toekomst was een gapend gat<br>
				&ldquo;We were all going direct to heaven<br>
				We were all going direct the other way&rdquo;<br>
				</p>
            </div>
            <div v-if="page==1">

				<p>(Zang)<br>
				kom vanuit de hoogte<br>
				overrompel me<br>
				kom ongevraagd en ongestoord<br>
				doorbreek mijn bolwerk <br>
				dender door mij heen <br>
				breng mijn plannen in de war<br>
				Doe niet aan effici&euml;ntie <br>
				overval me <br>
				Als een ramp</p>
                <br>

				<p>Welkom.</p>

				<p>Wij van Wotan Inc geloven in EERLIJK <br>
				Wij geloven in SAMEN <br>
				Wij geloven in VOORUITGANG. <br>
				En Wij, van Wotan Inc geloven bovenal.........in de MENS.</p>

				<p>Alleen niet in elk mens.</p>

				<p>Welkom bij Wotans :.. EXTINTICATOR.</p>

				<p>(Drukt op belletje en slaat met hamer op houten blok)</p>

				<p>Who&rsquo;s in?<br>
				Who&rsquo;s out?<br>
				You decide!</p><br>

				<p>Jullie spelen vandaag het &lsquo;Godenspel&rsquo;</p>

				<p>De componist Richard Wagner voorspelde meer dan 200 jaar geleden al alles wat wij NU op aarde meemaken in zijn opera &lsquo;Ring des Nibelungen&rsquo;, de grootste opera aller tijden. <br>
				Wist u dat? <br>
				Liefde, strijd, corruptie, verraad, de dreiging van onzichtbare krachten.... heldendom...<br>
				Zijn verhaal eindigt met een grote golf....<br>
				zondvloed, een wereld die overspoeld wordt door water.<br>
				het wassende water.....</p><br>

				<p>Mooi toch?</p><br>

				<p>In het oerverhaal waar Wagner zijn opera op baseert, zijn de enige die overleven: <br>
				Lift en LiftRasir. <br>
				Leven en Levensdrift.</p>

				<p>Oh Wagner, my favourite!<br>
				Dat was pas een vooruitgangsdenker!</p><br>

				<p>In de opera is Wotan de oppergod;<br>
				allevader van po&euml;zie en strijd.<br>
				Op zoek naar wijsheid, ging hij naar de bron die wijsheid geeft.<br>
				Maar om uit die bron te mogen drinken, moest er iets worden geruild.<br>
				Wotan ruilde een van zijn ogen voor de wijsheid van de bron.<br>
				Een oog voor de wijsheid....</p>

				<p>(Doet oogdruppels in)</p>

				<p>En met al die wijsheid breekt hij een tak van Yggdrassil, de wereld-es<br>
				De boom die de wereld draagt. <br>
				Droeg.</p>

				<p>U reikte uw takken naar de hemel. U groef uw wortels in de grond. U omvatte het al en ooit. U omvatte het ooit en al.<br>
				</p>

				<p>En van die tak maakt hij een speer waarin hij<br>
				De 8 regels en wetten voor de mensen en goden kerft.<br>
				En met deze speer gaat hij op zoek naar de ring <br>
				die hem de macht zal geven over de wereld.</p>
			</div>
			<div v-if="page==2">
				<p>Wij, van Wotan Inc, houden ook van feiten.</p>

				<p>Want het water stijgt niet alleen in Wagners Opera.<br>
				Maar ook hier!<br>
				Van alle kanten worden we ingehaald, teruggedrongen en ingesloten...</p>
				De grote golf is onderweg naar Rotterdam.<br>

				<p>Maar dat waterstijging (de grote golf) een feit is, <br>
				wil nog niet zeggen dat het een probleem is.<br>
				Althans, niet voor ons allemaal....<br>
				 <br>
				De Excinticator!!! ( drukt op belletje)</p>

				<p>Laat me beginnen met het goede nieuws: <br>
				er is een schip.</p><br>

				<p>Wij, van Wotan Inc, hebben Wagners Ring opgegraven van de Maasbodem<br>
				En het goud omgesmolten tot een ship: De Ocean-Walhalla-Princess 2.<br>
				Een schip die ons zal redden van het water!<br>
				De princess 1 had nog wat kinderziektes, maar die zijn nu allemaal opgelost.</p>

				<p>Het slechte nieuws is; niet iedereen kan mee.</p>

				<p>De Excinticator!!! : een vernuftig stuk technologie en democratie in 1 !!!!<br>
				(Drukt op belletje)</p>
			</div>
			<div v-if="page==3">
				<p>Welkom burgers van Rotterdam<br>
				Welkom raad der wijzen.<br>
				Welkom ook burgerjury : <br>
				Speel met ons Het Godenspel waarin jullie samen (!!) bepalen wie er mee mag op het schip, <br>
				Wie er gered wordt van het water <br>
				En wie een nieuwe toekomst gaat bouwen.</p>

				<p>Wie worden er de nieuwe Lift en LiftRasir?</p>

				<p>Wij van Wotan (en zonen) Inc zeggen: <br>
				Play and survive <br>
				Who&rsquo;s in?<br>
				Who&rsquo;s out?<br>
				You decide!</p>

				<div class="confirmation-wrapper">
					<router-link to="questions" class="btn btn-primary btn-confirm">Start Siegfried</router-link>
				</div>
			</div>
		</div>
		<div v-if="page < 3">
			<button class="btn btn-primary btn-confirm" @click="nextPage">Verder</button>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				page: 0
			};
		},

		methods: {
			nextPage() {
				this.page++;
				if(this.page == 1) {
					this.$emit('fade-to-music', 'KomVanuitDeHoogte');
				} else if(this.page == 2) {
					this.$emit('fade-to-music', null, 5000);
				} else if(this.page == 3) {
					this.$emit('fade-to-music', 'WelkomRaadDerWijzen', null, 0.6);
				}
                window.scrollTo(0,0);
			}
		},

		mounted() {
		},
	}
</script>
