<template>
    <div>
        <button class="btn btn-audio" @click="toggleMute"><i :class="{'fa fa-volume-mute': muted, 'fa fa-volume-off': !muted}"></i></button>
        <button class="btn btn-audio" @click="volumeDown"><i class="fa fa-minus"></i></button>
        <b>{{ this.volume }}</b>
        <button class="btn btn-audio" @click="volumeUp"><i class="fa fa-plus"></i></button>

        <button class="btn btn-primary btn-audio ml-5" @click="reset"><i class="fa fa-redo"></i></button>
        <button class="btn btn-audio-long" v-if="playing" @click="pause"><i class="fa fa-pause"></i></button>
        <button class="btn btn-audio-long" v-else @click="play"><i class="fa fa-play"></i></button>
    </div>
</template>

<script>
	import Vue from 'vue';
	import { mapMutations } from 'vuex';
	import {Howl, Howler} from 'howler';

	export default {
		name: 'ring-audio-player',

		data() {
			return {
				music: {},
				sounds: {},
				currentMusic: null,
				playlist: [],
				playIndex: -1,
                volume: 0.5,
                playing: false,
                muted: false,

				musicNames: [
					"Draakstop-Bovenkamer",
					"WelkomRaadDerWijzen",
                    "Siegfried",
					"WachtmuziekStop-Draak",
					"Eindtune-eindklank-Epiloogstart",
					"Wachtmuziek",
					"Hartslag",
					"Inloop",
					"Printmuziek",
                    "Knikkermuziek",
                    "KnikkermuziekStop",
					"KomVanuitDeHoogte",
					"EindtuneGespreksronde",
					"BrandNewBody",
					"BaanWordtVeranderd",
					"Climaxknop-Welkomgedicht",
					"Hartslag-eindslag"
				],

				soundNames: [
					"KnopJa",
					"KnopNee",
					"KnopLaatste"
				],
			};
		},

		mounted() {
			this.setMusicCount(this.musicNames.length);

			for(let musicName of this.musicNames) {
				this.addMusic(musicName);
			}

			this.addSounds(this.soundNames);
		},

		methods: {
			addSounds(soundNames) {
				for(let soundName of soundNames) {
					this.sounds[soundName] = new Howl({
						src: ["/audio/" + soundName + ".mp3"],
						onload: () => {
							console.log("Sound " + soundName + " loaded.");
						},
					});
				}
			},

			addMusic(musicName) {
                let newMusic = new Howl({
					src: ["/audio/" + musicName + ".mp3"],
					loop: musicName == "Inloop", //Only loop Inloop.
					onload:() => {
						console.log("Music " + musicName + " loaded.");
						this.incrementLoadedMusicCount();
					},
					onloaderror(id, msg) {
						console.error("AudioPlayer error: Music " + musicName + " failed to load. \nMessage: " + msg)
					},
				});
                newMusic.on('fade', () => {
                    this.updateVolume()
                });
                this.music[musicName] = newMusic;
            },

			playSound(soundName) {
				let sound = this.sounds[soundName];
				if(sound) {
					sound.play();
				} else {
					console.error("AudioPlayer error: sound " + soundName + " not found.");
				}
			},

			playMusic(musicName, volume = 0.5) {
				if(this.currentMusic) {
					this.currentMusic.pause();
				}
				this.currentMusic = this.music[musicName];
				if(this.currentMusic) {
                    if(this.muted) {
                        this.currentMusic.volume(0);
                    } else {
				        this.currentMusic.volume(volume);
                    }
					this.currentMusic.play();
					this.playing = true;
				} else {
					console.error("AudioPlayer error: music " + musicName + " not found.");
				}
			},

			fadeToMusic(musicName, fadeSpeed = 1, newVolume = 0.5) {

			    if(fadeSpeed == null) {
			        fadeSpeed = 1;
                }
				let previousMusic = this.currentMusic;
				if(previousMusic) {
                    previousMusic.once('fade', () => {
                        previousMusic.stop();
                    });
					previousMusic.fade(previousMusic.volume(), 0, fadeSpeed);
				}

				if(musicName) {
                    console.log("Fading to Music " + musicName + " to volume " + newVolume);
                    this.currentMusic = this.music[musicName];
                    if (this.currentMusic) {
                        this.currentMusic.volume(0);
                        this.currentMusic.seek(0);
                        this.currentMusic.play();
                        if(!this.muted) {
                            this.currentMusic.fade(0, newVolume, fadeSpeed);
                        }
                        this.playing = true;
                    } else {
                        console.error("AudioPlayer error: music " + musicName + " not found.");
                    }
                } else {
				    this.playing = false;
				    console.log("Fading out.");
                    this.volume = 0;
                }
			},

			playNext() {
				this.next();
				if(this.playIndex > 0) {
					this.playlist[this.playIndex - 1].pause();
				}
				this.playlist[this.playIndex].play();
			},

			fadeNext(fadeSpeed = 3000) {
				this.next();
				if(this.playIndex > 0) {
					//fade out previous song
					this.playlist[this.playIndex - 1].fade(1, 0, fadeSpeed);
				}
				if(this.playIndex < this.playlist.length) {
					//fade in current song
					this.playlist[this.playIndex].volume(0.0);
					this.playlist[this.playIndex].play();
					this.playlist[this.playIndex].fade(0, 1, fadeSpeed)
				}
			},

			next() {
				this.playIndex++;
				if(this.playIndex >= this.playlist.length) {
					this.playIndex = 0;
				}
			},

			pause() {
				if(this.currentMusic) {
					this.currentMusic.pause();
					this.playing = false;
				}
			},

			play() {
				if(this.currentMusic) {
					this.currentMusic.play();
					this.playing = true;
				}
			},

            reset() {
			    this.currentMusic.seek(0);
                this.currentMusic.volume(0.5);
                this.currentMusic.play();
                this.playing = true;
                this.volume = 0.5;
            },

            toggleMute() {
                this.muted = !this.muted;
                if(this.muted) {
                    this.currentMusic.volume(0);
                    this.updateVolume();
                } else {
                    this.currentMusic.volume(0.1);
                    this.updateVolume();
                }
            },

            updateVolume() {
                this.volume = Math.round(this.currentMusic.volume() * 100) / 100;
            },

            volumeUp() {
			    if(this.currentMusic) {
			        this.currentMusic.volume(this.currentMusic.volume() + 0.1);
                    this.updateVolume();
                }
                this.muted = false;
            },

            volumeDown() {
                if(this.currentMusic) {
                    this.currentMusic.volume(this.currentMusic.volume() - 0.1);
                    this.updateVolume();
                }
            },

			...mapMutations(['setMusicCount', 'incrementLoadedMusicCount'])
		}
	}
</script>
