<template>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Ring of Resilience</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Menu openen">
				<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mainNavbar">
			<div class="navbar-nav">
	            <router-link :class="{active: currentRoute == '/'}" class="nav-item nav-link" to="/" exact>Home</router-link>
	            <router-link :class="{active: currentRoute == 'create-players'}" class="nav-item nav-link" to="create-players">Spelers</router-link>
	            <router-link class="nav-item nav-link" to="questions">Vragen</router-link>
	            <router-link class="nav-item nav-link" to="results-scene">Uitslag</router-link>
	            <router-link class="nav-item nav-link" to="create-swap">Wissel kiezen</router-link>
	            <router-link class="nav-item nav-link" to="revised-results">Herziene Uitslag</router-link>
	            <router-link class="nav-item nav-link" to="epilogue">Epiloog</router-link>
	        </div>
	    </div>
	</nav>
</template>

<script>
	import Vue from 'vue'

	export default {
		computed: {
			currentRoute() {
				return this.$route.name;
			}
		},
	}
</script>
