<template>
	<div>
		<ul>
			<li v-for="player in players">{{player.name}}</li>
		</ul>
	</div>
</template>

<script>
	import Vue from 'vue' 

	export default {
		components: {
			PlayerList: Vue.component('player-list', {				
				props: ['players']
			}),
		},
		props: ['players']
	}
</script>