<template>
    <b>{{ minutes }}:{{ formattedSeconds }}</b>
</template>

<script>
export default {
    name: "Timer",

    data() {
        return {
            countDownDate: null,
            distance: 3,
            interval: null
        };
    },

    mounted() {
        this.countDownDate = new Date();
        this.countDownDate.setSeconds(this.countDownDate.getSeconds() + (this.countdownMinutes * 60));
        this.interval = setInterval(this.updateDistance, 1000);
    },

    methods: {
        updateDistance() {
            let now = new Date().getTime();
            this.distance = this.countDownDate.getTime() - now;
            if(this.distance <= 0) {
                this.distance = 0;
                clearInterval(this.interval);
                this.$emit('timerFinished');
            }
        },
    },

    computed: {
        minutes() {
            return Math.floor((this.distance % (1000 * 60 * 60)) / (1000 * 60));
        },

        seconds() {
            return Math.floor((this.distance % (1000 * 60)) / 1000);
        },

        formattedSeconds() {
            return ("0" + this.seconds).slice(-2);
        }
    },

    props: ['countdownMinutes']
}
</script>
