<template>
	<div class="row">
		<div v-if="players.length > 0" class="col-6">
            <ol>
                <li v-for="player in players">
                    <!--  Inline styling for printing purposes. -->
                    <div class="value" style="display: flex;
                                            width: 100%;
                                            align-items: center;">
                        <div>
                            {{ player.name }}
                        </div>
                        <div class="value-result" style="margin-left: auto;">
                            <span v-if="isWelcome(player)">WELCOME</span>
                            <span v-else>NOT WELCOME</span>
                        </div>
                    </div>
                </li>
            </ol>
            <!--  Inline styling for printing purposes. -->
            <div id="playerResults" class="d-none">
                <div v-for="currentPlayer in players">
                    <h3>{{ currentPlayer.name }}</h3>
                    <ol style="margin-bottom:32px">
                        <li v-for="value in getTopEight">
                            <div class="value" style="display: flex;
                                                    width: 100%;
                                                    align-items: center;">
                                <div>
                                    {{ value.name }}
                                </div>
                                <div v-if="currentPlayer" class="value-result" style="margin-left: auto;">
                                    <span v-if="currentPlayer.hasValue(value)">JA</span>
                                    <span v-else>NEE</span>
                                </div>
                            </div>
                        </li>
                    </ol>

                    <div class="value" style="display: flex;
                                                    width: 100%;
                                                    align-items: center;
                                                    margin-top: 16px;
                                                    font-weight: bold;">
                        <span v-if="isWelcome(currentPlayer)">WELCOME</span>
                        <span v-else>NOT WELCOME</span>
                    </div>

                    <hr>
                </div>
			</div>

            <div v-if="!knikker">
                <button class="btn btn-confirm" @click="doTheKnikker">Knikker</button>
            </div>
            <div v-else>
                <button class="btn btn-confirm" @click="finished">Klaar <i class="fa fa-arrow-right"></i></button>
            </div>
 		</div>
 		<div v-else>
			<h3>Geen spelers</h3>
			<p>Voeg eerst spelers toe.</p>
		</div>
	</div>
</template>

<script>
	import {mapState} from 'vuex';
	import {mapGetters} from 'vuex';
	import Vue from 'vue';

	export default {
	    data() {
	        return {
	            knikker: false
            }
        },

		components : {
			ValueResults: Vue.component('value-results')
		},

        mounted() {
		    this.print();
        },

		methods: {

			print() {
				this.$htmlToPaper('playerResults');
			},

            doTheKnikker() {
			    this.$emit('fade-to-music', 'Knikkermuziek', null, 0.6);
			    this.knikker = true;
            },

            finished() {
                this.$emit('finished');
            }
		},

		computed: {
			...mapState(['players']),
			...mapGetters(['getTopEight', 'isWelcome']),
		}
	}
</script>
